<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class = "main-content">
            <p class="aboutpara">This sites was created by Manmeet Singh. It uses Mapbox Api and Weather Stack Api.</p>
            <br>
            <div class="insidehelp">
                <p>Languages Used : Nodejs, hbs, CSS</p>
                <a class="address" href="https://github.com/ManmeetSingh27">Github</a>
            </div>
        </div> 
        
        {{>footer}}
    </body>
</html>