<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class = "main-content">
        {{>header}}
         {{!-- <img src="img/pic.jpg" alt="picture"> --}}
    </div> 
        
        {{>footer}}
    </body>
</html>