<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class = "main-content">
            <div class="insidehelp">
                <p>Creator : Manmeet Singh</p>
                <p>Languages Used : Nodejs, hbs, CSS</p>
                <a class="address" href="https://github.com/ManmeetSingh27">Github</a>
            </div>
    </div>
        {{>footer}}
    </body>
</html>